@import "../../styles/variable";
$time: 700ms;

.soon_portion {
    background-color: rgb(64, 64, 64);
}

.sidebar-upper {
    width: 300px;
    transition: all $time;
    transition-timing-function: linear;
}

.side-open {
    width: 70px;
    transition: all $time;
}

.sidebar {
    background: $dark-color;
    height: 100vh;
    padding: 10px;
    overflow-y: scroll;
    scrollbar-width: none;
    padding-right: 1.5rem;

    .side {
        margin-top: - 0.8rem;
    }

    .edit {
        margin-top: -0.8rem;
        margin-left: -1.8rem;
        color: gray
    }

    .close {
        width: 0 !important;
        overflow: hidden;
        transition: all $time;
    }

    .side-closer {
        position: absolute;
        z-index: 2;
        right: 0px;
        cursor: pointer;
    }

    .profile-img {
        height: 50px;
        aspect-ratio: 1/1;
    }

    .sidebar-list {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 8px;
        height: 60vh;

        button.mt-auto {
            margin-top: auto !important;
            /* Pushes the button to the bottom */
        }

        a,
        button {
            padding: 10px;
            border: 2px solid transparent;
            width: 75%;
            margin: 0 auto;
            color: $white-color;
            font-weight: 500;
            letter-spacing: 2px;

            &:hover {
                border-radius: 14px;
                border: 2px solid $dark-orange;
                transition: all 0.5s;
                background-color: rgb(37, 37, 37);
            }

            &.not:hover {
                border: 2px solid transparent;
                cursor: not-allowed;
                border-radius: 0;
                background-color: transparent !important;

                svg {
                    color: white;
                }
            }

            &.active {
                border-radius: 14px;
                border: 2px solid $dark-orange;
                font-weight: 700;
                color: white !important;
                background-color: rgb(37, 37, 37);

                svg {
                    color: $dark-orange !important;
                }
            }

            &.active svg,
            &.active span {
                color: white;
            }

            &.active .active-icon {
                display: block;
            }

            li {
                display: flex;
                align-items: center;
                gap: 15px;
                font-size: 12px;
                padding: 1%;

                svg {
                    font-size: 22px;
                }

                &:hover svg,
                &:active svg {
                    color: $dark-orange;
                    transition: all 0.2s;
                }
            }
        }
    }

}

.active-icon {
    display: none;
}

.more {
    right: 12px !important;
}