@import "../../../styles/variable";

.p-investment-table {

    table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0 10px;
        background: white !important;
    }

    table tr>th {
        border: none;
        width: 11.11%;
    }

    table tr td {
        padding: 10px;
        width: 11.11%;
        background-color: #fff;
        // border-bottom: 2px solid $dark-orange;
        // border-top: 2px solid $dark-orange;
    }

    table tr>:first-child {
        background-color: #fff;
        width: 10%;
        // border: 2px solid $dark-orange;
        // padding-left: 5%;
        border-right: 0;
    }

    table tr>:last-child {
        border-radius: 0 50% 50% 0;
        // border: 2px solid $dark-orange;
        width: 10%;
        border-left: 0;
    }

}

.p-txt {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.overview {
    .box {
        height: 110px;
    }

    .over-box {
        display: grid !important;
        height: 90px;
        grid-template-columns: 80% 20%
    }

    .OverView_items {
        font-weight: 600;
        font-size: 24px;
    }

    .OverView_title {
        font-size: 12px;
        color: #ABABAB !important;
    }

    @media (max-width:400px) {
        .rounded-circle {
            margin-left: -18%;
        }
    }
}

.investment_container_table {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;

    .investment_container {
        height: 6rem;
        border-radius: 6px;
        border: 1px solid black;
        background-color: white;
        display: grid;
        grid-template-columns: 10% 35% 35% 20%;
        margin-bottom: 2%;

        // .invt_img:hover {
        //     cursor: pointer;
        //     // display: 'flex' !important;
        //     // justify-content: 'center' !important;
        //     // align-items: 'center' !important;
        //     // padding: '10px' !important
        // }

        .invt_ftq,
        .invt_stq,
        .invt_ltq {
            display: flex;
            margin-inline: 2%;
            padding-top: 6%;
            gap: 7px;
            justify-content: center;

            .bg-white-smoke {
                background-color: #F1F1F1;
                color: #818181;
                border: none;
                cursor: auto;
                font-size: 16px;
                font-weight: 500;
            }

            .btn-sm {
                font-size: 0.75rem;
                padding: 5px 15px;
            }
        }

        .invt_stq {
            margin-left: -.5rem;
        }

        .invt_ltq {
            padding-top: 10%;
            margin-left: -1.5rem;

            div>button>img {
                width: 1rem;
                margin-left: 15%;
            }
        }

        .invt_img {
            //background-color: red;

            .invt_img_img {
                width: 96%;
                height: 96%;
                margin-left: 15%;
                border-radius: 50%;
                padding: 5px;
            }

            .right_red_arrow {
                z-index: 1;
                position: relative;
                right: 14px;
                bottom: -25px;
                width: 22px
            }
        }

        .loss {
            background-color: #fdc4c4 !important;
            color: red !important;
            cursor: auto;
        }

        .loss:hover {
            background-color: #fcb1b1 !important;
        }

        .profit {
            background-color: #C7EDD8 !important;
            color: #1F9E59 !important;
            cursor: auto;
        }

        .profit:hover {
            background-color: #a7e6c3 !important;
        }
    }


    @media (max-width: 700px) {
        // .investment_container {
        //     height: 61vh !important;
        //     display: flex;
        //     flex-direction: column;
        //     flex-wrap: nowrap;
        //     align-items: center;
        //     margin-block: 4%;
        //     gap: 2%;
        //     overflow-x: scroll;

        //     .invt_ftq,
        //     .invt_stq,
        //     .invt_ltq {
        //         flex-wrap: wrap;
        //         justify-content: space-evenly;
        //         align-items: center;
        //     }

        //     .invt_ltq {
        //         margin-left: 0rem !important;

        //         .resp {
        //             margin-left: 1rem;
        //         }
        //     }
        // }

        .investment_container {
            overflow-x: auto;
            display: flex;

            .invt_ltq {
                padding-top: 5% !important;
                margin-left: 0rem !important;
            }
        }



        .investment_container .invt_img {
            .invt_img_img {
                width: 80%;
                height: 80%;
                margin-left: 0;
                margin-top: 10%;
            }

            .right_red_arrow {
                width: 16px;
            }
        }

    }
}